<%= simple_form_for @runway_year, :html => {:class => "form-horizontal"} do |f| %>
    <fieldset>
      <%= f.input :name, label: "Year", placeholder: "EX: 2012" %>
      <div class="form-actions">
        <%= f.submit :class => "btn" %>
        <% if @runway_year.new_record? %>
            <%= link_to "Manage Years", runway_years_path, class: "btn" %>
        <% else %>
            <%= link_to "Cancel", @runway_year, class: "btn danger" %>
        <% end %>
      </div>
    </fieldset>
<% end %>