<section class="span8">
  <div class="page-header" style="border-bottom: none;">
    <h1>Listing slides</h1>
  </div>


  <table class="table">
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @slides.each do |slide| %>
        <tr>
          <td><%= slide.title %></td>
          <td><%= slide.url %></td>
          <td><%= link_to 'Show', slide, class: "btn" %></td>
          <td><%= link_to 'Edit', edit_slide_path(slide), class: "btn btn-info" %></td>
          <td><%= link_to 'Destroy', slide, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
    <% end %>
  </table>

  <br />
  <div class="form-actions">
    <%= link_to 'New Slide', new_slide_path, class: "btn" %>
  </div>


</section>

