<div class="cover">
  <div class="caption heading_b">
    <h2>
      <a href="<%= url_for blog %>" rel="tooltip" class="arrow_append" data-original-title="<%= blog.title %>">
        <%= blog.title %>
        <span class="arrow_r_after"></span>
      </a>
    </h2>
    <p><%= link_to sanitize(strip_tags(truncate(blog.summary, length: 180, :omission => "..read more"))), blog_path(blog) %></p>
    <a  class="">
      <%= link_to image_tag(blog.blog_image(:trend_small)), blog %>
    </a>
    <p class="blog_meta"> posted in
      <%= raw blog.tag_list.map {|t| link_to t, tag_path(t), class: "transitionable category" }.join(", ") %>

      <span class="date"> <%= blog.published_at.strftime("on %^b  %d  %I:%M%p")%></span>
    </p>
  </div>
</div>