<%= simple_form_for(@look_book, html: {class: "form-horizontal"}) do |f| %>

  <%= f.input :name %>

  <%= f.input :description, as: :text, rows: 10, input_html: {style: "width: 757px"} %>

  <%= f.input :published_at, as: :string %>
  <div class="form-actions">
    <%= f.button :submit, class: "btn" %>
  </div>
<% end %>
