<%= provide :title, "Style Diary" %>
<section   class="span8">
  <section  id="fashion_jury">
    <header class="heading">
      <h1>STYLE DIARY</h1>
    </header>
    <div class="row-fluid  jury_polaroid  ">
      <%= render functional_fashions %>
    </div>
  </section>

  <% if functional_fashions.next_page || functional_fashions.previous_page %>
  <div class="pager" style="margin-top: 30px;">
    <%= will_paginate functional_fashions %>
  </div>
  <% end %>

  <% if can? :create, FunctionalFashion %>
      <div class="form-actions">
        <%= link_to 'Add Style Diary', new_style_functional_fashion_path,  class: "btn" %>
        <%= link_to 'Add profile', new_functional_fashion_designer_path,  class: "btn" %>
      </div>
  <% end %>
</section>