<%
  #locals
  @photos = trend_spotting.photos.limit(4)
%>

<div class="trending_items span4">
  <div class="row-fluid">
    <div class="trend_box">
      <header class="heading" style="border-top: none;">
        <h1 class="light">
          <%= link_to  fashion_trend_spotting_path(trend_spotting), :rel => "tooltip", title: trend_spotting.title, class: "arrow_append" do %>
            <%= trend_spotting.title %>
            <span class="arrow_r_after"></span>
          <% end %>
        </h1>
      </header>


      <div	class="span12">
        <div  class="thumbnail tip_it_down" rel="tooltip" title="<%= trend_spotting.caption %>">
          <%= image_tag trend_spotting.trend_cover(:trend_small) %>
        </div>
      </div>

      <div class=" ">
        <ul  class="items row-fluid">
          <% @photos.each do |photo| %>
          <li	class="item span6">
            <div  class="thumbnail tip_it_down" rel="tooltip" title="<%= photo.caption %>">
              <%= image_tag photo.photo(:trend_small), :alt => "" %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>