<li class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown"href="#"><i class="icon-cog"></i> Admin<b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to "Add blog", new_blog_path %></li>
    <li class="divider"></li>
    <li><%= link_to "Add Style Diary", new_functional_fashion_path %></li>
    <li><%= link_to "Add look book", new_look_book_path %></li>
    <li><%= link_to "Add Red Carpet", new_redcarpet_path %></li>
    <li><%= link_to "Add features", new_feature_path %></li>
    <li><%= link_to "Add Fashion jury", new_fashion_jury_path %></li>
    <li><%= link_to "Add Runway Collection", new_runway_collection_path %></li>
    <li><%= link_to "Add Runway year", new_runway_year_path %></li>
    <li><%= link_to "Add RunWay season", new_runway_season_path %></li>
    <li><%= link_to "Add men fashion", new_men_fashion_path %></li>
    <li><%= link_to "Add trend Spotting", new_trend_spotting_path %></li>
    <li class="divider"></li>
    <%= link_to "Manage top ads", top_ads_path %>
    <li class="divider"></li>
    <li><%= link_to "Manage right ads", right_ads_path %></li>
    <li><%= link_to "Manage Slides", slides_path  %></li>
    <li><%= link_to "Upload Video", new_video_path  %></li>
    <li><%= link_to "Manage Videos", videos_path  %></li>
    <li><%= link_to "New tips and tutorial", new_fashion_tip_path  %></li>
  </ul>
</li>