<aside  id="aside" class="span4" style="margin-left: 19px;">
  <section   id="social_connect">
    <header class="heading_b">
      <h2>CONNECT WITH CF</h2>
    </header>
    <ul class=" row-fluid">
      <li class="facebok_ic  span2 si">
        <a href="<%= FACEBOOK_URL %>" rel="tooltip" title="facebook" target="_blank"></a>
      </li>
      <li class="gplus_ic  span2 si">
        <a href="<%= GPLUS_URL %>" rel="tooltip" title="gplus" target="_blank"></a>
      </li>
      <li class="twitter_ic  span2 si">
        <a href="<%= TWITTER_URL %>" rel="tooltip" title="twitter" target="_blank">	</a>
      </li>
      <li class="pinterest_ic  span2 si">
        <a href="<%= PINTEREST %>" rel="tooltip" title="pinterest" target="_blank">	</a>
      </li>
      <li class="tumblr_ic  span2 si">
        <a href="<%= TUMBLR %>" rel="tooltip" title="tumblr" target="_blank"></a>
      </li>
      <li class="email_ic  span2 si">
        <a href="#subscribe" rel="tooltip" title="subscribe for news letter">	</a>
      </li>
    </ul>
  </section>
  <section id="advertisement">
    <%= render "right_ads" %>
  </section>
  <section id="subscribe">
    <div class="subscription_header">
      <h3>GET THE LATEST CF NEWS</h3>
    </div>
    <%= form_for Subscription.new, :remote => true, :html => {:class => "email_sub", :id => "new_subscription"} do |f| %>
      <div class="controls">
        <div class="input-prepend">
          <%= f.email_field :email, :class => "span7", :style => "width: 211px;", :placeholder => "Email" %>
          <button class="btn sub  btn-danger	pull-right" type="submit">subscribe</button>
        </div>
      </div>
    <% end %>
  </section>

  <section  id="magazine">
    <div    class="header_b">
      <h2>IN THE MAGAZINE</h2>
    </div>
    <% mag = Magazine.published.last %>
    <div  class="thumbnail">
      <% if mag %>
<% cache "mag" do %>
      <a href="<%= url_for mag %>" class="magazine">
        <%= image_tag mag.mag_cover(:trend_small), :id => "magazine_banner" %>
      </a>
<% end %>
      <% end %>
    </div>
    <div  class="more_box" style="padding: 0; overflow: hidden;">
      <div  class="more" style="padding: 0;">
        <span>view our</span>
        <a href="<%= url_for magazines_path %>" class="more_link arrow_append">&nbsp;Magazine collection&nbsp;<span class="arrow_r_after"></span></a>
      </div>
    </div>
  </section>
  <% unless latest_video.nil? %>
   <iframe class="youtube-player" type="text/html" width="100%" height="264" src="http://www.youtube.com/embed/<%= latest_video.youtube_video_id %>" frameborder="0">
   </iframe>
  <% end %>
  <div class="fb-like-box" data-href="http://www.facebook.com/completefashionmagazine" data-width="300" data-colorscheme="light" data-show-faces="true" data-stream="false" data-header="true"></div>

  <a class="twitter-timeline" href="https://twitter.com/completefashion" data-widget-id="269421304753557504">Tweets by @completefashion</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  <section  id="magazine">
    <div    class="header_b">
      <h1>TAG CLOUD</h1>
    </div>
    <div id="tag_cloud">
      <% tag_cloud Blog.tag_counts, %w[s m l] do |tag, css_class| %>
          <%= link_to tag.name.capitalize, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>

    <div style="text-align: center; margin-top: 10px">
      <script type="text/javascript"><!--
      google_ad_client = "ca-pub-9043194741260146";
      /* cf right new */
      google_ad_slot = "3256660732";
      google_ad_width = 300;
      google_ad_height = 600;
      //-->
      </script>
      <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    </div>

  </section>
</aside>
