<section  id="trend_show" class="trend_show span8 ">
  <header   class="show_header">
    <h1 class="">
      <a href="#">
        <%= @feature.title %>
      </a>
    </h1>
  </header>

  <div   class="media">
    <div class="media-center row-fluid">
      <%= image_tag @feature.top_image(:original) %>
    </div>
    <div class="span6 media_img_wrap" >

      <div class="media-left"><figure class="quote_b">
        <blockquote class="curly-quotes">
          <%= @feature.quote %>
        </blockquote>
      </figure>
        <%= image_tag @feature.feature_image(:small) %>
      </div>
    </div>
    <%= raw @feature.content %>
    </div>
  <%= render "next_page", :obj => @feature %>
<% if can? :manage, @feature %>
  <div class="form-actions">
    <%= link_to 'Edit', edit_feature_path(@feature), :class => "btn" %>
    <%= link_to 'Back', features_path, :class => "btn" %> <%= link_to "Delete", @feature, :method => :delete,  :data => { :confirm => 'Are You sure' }, class: "btn btn-danger" %>
  </div>
<% end %>

</section>


