<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Fashion Magazine - Fashion Trends, Style, & Beauty - Complete Fashion Online" %></title>
  <meta name="keywords" content="Fashion, Completefashion, fashion Magazine, styles, style diary, look book, fashion jury, Nigeria, Celebrities Cover Pages">
  <meta name="description" content=" The Vivacious Magazine on Fashion, Style and Beauty, Watch runway shows from the hottest fashion designers, Celebrity cover pages and interviews.">

  <!-- Le styles -->
  <%= stylesheet_link_tag "application", medai: :all %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5.js" %>
  <![endif]-->
  <%= csrf_meta_tags %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

 </head>

<body>
<%= render "nav_bar" %>

<div id="main"  class="container ">
  <div class="row">
    <div class="span12">
      <% if flash.any? %>
          <div class="notice">
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name == :notice ? "info" : "error" %>">
                  <a class="close" data-dismiss="alert">×</a>
                  <%= msg %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
<div  class="row-fluid <% if controller_name == "home" || "fashion" %> divider_r <% end %>">


  <%= yield %>

<%= render "side_bar" %>
</div>
  <div class="clearfix"></div>
<div class="divider_b"></div>
<div  class="row-fluid">
<%= render "footer" %>
</div>
</div> <!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">
var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>
<%= render "javascripts" %>
<%= yield :javascript %>

</body>
</html>
