<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%= content_for?(:title) ? yield(:title) : "Fashion Magazine - Fashion Trends, Style, & Beauty - Complete Fashion" %></title>
  <meta name="google-site-verification" content="6WVvgMMtN41i-w0Kz041bLUfkCUbcB5vfP13Ih4CLBk" />
  <meta name="keywords" content="Fashion, Completefashion, fashion Magazine, styles, style diary, look book, fashion jury, Nigeria, Celebrities Cover Pages">
  <meta name="description" content=" The Vivacious Magazine on Fashion, Style and Beauty, Watch runway shows from the hottest fashion designers, Celebrity cover pages and interviews.">

  <!-- Le styles -->
  <%= stylesheet_link_tag "application", medai: :all %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag "html5.js" %>
  <![endif]-->
  <%= csrf_meta_tags %>

  <div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script type="text/javascript">var switchTo5x=true;</script>
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript" src="http://s.sharethis.com/loader.js"></script>

 </head>

<body>
<%= render "nav_bar" %>

<div id="main"  class="container ">
  <div class="row">
    <div class="span12">
      <% if flash.any? %>
          <div class="notice">
            <% flash.each do |name, msg| %>
                <div class="alert alert-<%= name == :notice ? "info" : "error" %>">
                  <a class="close" data-dismiss="alert">×</a>
                  <%= msg %>
                </div>
            <% end %>
          </div>
      <% end %>
    </div>
  </div>
<div  class="row-fluid <% if controller_name == "home" || "fashion" %> divider_r <% end %>">


  <%= yield %>

<%= render "side_bar" %>
</div>
  <div class="clearfix"></div>
<div class="divider_b"></div>
<div  class="row-fluid">
<%= render "footer" %>
</div>
</div> <!-- /container -->
<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript">
var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>
<%= render "javascripts" %>
<%= yield :javascript %>


<script type="text/javascript">

    var _gaq = _gaq || [];

    var pluginUrl =
            '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-36461952-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

<script type="text/javascript">stLight.options({publisher: "de402703-20a5-470e-b32a-15fcd04dc7b9", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
    var options={ "service": "facebook", "timer": { "countdown": 30, "interval": 10, "enable": true}, "frictionlessShare": true, "style": "3", "publisher": "de402703-20a5-470e-b32a-15fcd04dc7b9"};
    var st_service_widget = new sharethis.widgets.serviceWidget(options);
</script>

<script type="text/javascript">stLight.options({publisher: "de402703-20a5-470e-b32a-15fcd04dc7b9", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>
<script>
    var options={ "publisher": "de402703-20a5-470e-b32a-15fcd04dc7b9", "logo": { "visible": false, "url": "http://cfmagazineonline.com"}, "ad": { "visible": false, "openDelay": "5", "closeDelay": "0"}, "livestream": { "domain": "www.cfmagazineonline.com", "type": "sharethis", "src": ""}, "ticker": { "visible": true, "domain": "", "title": "Trending", "type": "sharethis", "src": ""}, "facebook": { "visible": true, "profile": "CompleteFashionMagazine"}, "fblike": { "visible": true, "url": "http://www.facebook.com/CompleteFashionMagazine"}, "twitter": { "visible": true, "user": "completefashion"}, "twfollow": { "visible": true, "url": "http://twitter.com/completefashion"}, "custom": [{ "visible": false, "title": "Custom 1", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 2", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}, { "visible": false, "title": "Custom 3", "url": "", "img": "", "popup": false, "popupCustom": { "width": 300, "height": 250}}], "chicklets": { "items": ["facebook", "twitter", "pinterest", "email", "sharethis", "googleplus"]}};
    var st_bar_widget = new sharethis.widgets.sharebar(options);
</script>


</body>
</html>
